{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block body %}

<div class="container-fluid">

	<div class="dossier-display-panel">

		<div class="create-dossier-form">
			<h2>Create dossier</h2>

			{% include 'fragments/forms/dossier.html' %}
		</div>

		<div class="dossier-list-panel">
			{% if dossiers %}
			<section>
			<heading><h2>Dossiers</h2></heading>
			<ul>
			{% for dossier in dossiers %}
			<li><a href="/dossier/{{dossier.key.urlsafe()}}">{{dossier.name}}</a></li>
			{% endfor %}
			</ul>
			</section>
			{% endif %}
		</div>

	</div>
</div>

{% endblock %}
