{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<div class="container-fluid">
<heading><h1>The Dossier</h1></heading>
</div>

<div class="container-fluid">

<form method="POST" action="/dossier">
	<div class="form-group">
	<label for="dossier-name">Name</label>
	<input type="text" class="form-control" id="dossier-name" placeholder="Name the dossier" name="name">
	</div>

	<div class="form-group">
		<label for="dossier-description">Description</label>
		<input type="text" class="form-control" id="dossier-description" placeholder="Description of what the dossier is about" name="description">
	</div>

	<div class="form-group">
		<label for="dossier-tags">Tags</label>
		<input type="text" class="form-control" id="dossier-tags" placeholder="Comma-separated tags" name="tags">
	</div>

	<div class="form-group">
		<button class="btn">Save</button>
	</div>
</form>

{% if dossiers %}
<section>
<heading><h1>Dossiers</h1></heading>
<ul>
{% for dossier in dossiers %}
<li><a href="/dossier/{{dossier.key.urlsafe()}}">{{dossier.name}}</a></li>
{% endfor %}
</ul>
{% endif %}
</section>
</div>

{% endblock %}
